{% extends "base/base.html" %}
{% load static %}
{% block head %}
<title>All Brands | Safa Star</title>

<meta name="description" content="Discover a wide range of top brands available at Safa Star. From Mobil and Shell to Castrol and more, find high-quality products for your industrial needs.">
<meta name="keywords" content="brands, Mobil, Shell, Castrol, Caltex, Donaldson, American Air Filter Company, Inc., Eflochem, Ecolab, Purolyt, Stanley, Dewalt, Makita, Midas, MSA, Safa Star">
<meta name="author" content="Safa Star">
<!-- Canonical Link -->
<link rel="canonical" href="https://www.thesafastar.com/">

<!-- Robots -->
<meta name="robots" content="index,follow">

{% endblock head %}
{% block body %}
{% include "base/navbar/navbar2.html" %}	
    
<!-- Page Banner Area Start -->
<div class="page__banner">
    <div class="page__banner-image" data-background="{% static "assets/img/banner/brands-banner.png" %}"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__banner-content">
                    <h1>Our Brands</h1>
                    <ul>
                        <li><a href="/">Home</a><span>|</span></li>
                        <li style="color: white;">Our Brands</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- Page Banner Area End -->
<!-- Services Area Start -->
<div class="services__page section-padding">
    <div class="container">
        <div class="row">
            {% for brands in brands %}
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="services__one-item m-0">
                    <div class="services__one-item-image">
                        <img src="{{brands.img1.url}}" alt="{{brands.brand}}-safastar-brands">
                    </div>
                    <div class="services__one-item-content">
                        
                        <h4 style="text-align:center;"><a href="{% url "brandsview" brands.slug %}">{{brands.brand}}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Services Area End -->




    
{% endblock body %}