{% extends "base/base.html" %}
{% load static %}

{% block head %}

{% for brands in brands %} 
<title>{{brands.brand}} Products | All in Stock | Safa Star</title>
{% endfor %}
<meta name="description" content="Discover a wide range of top brands available at Safa Star. From Mobil and Shell to Castrol and more, find high-quality products for your industrial needs.">
<meta name="keywords" content="brands, Mobil, Shell, Castrol, Caltex, Donaldson, American Air Filter Company, Inc., Eflochem, Ecolab, Purolyt, Stanley, Dewalt, Makita, Midas, MSA, Safa Star">

<meta name="author" content="Safa Star">
<!-- Canonical Link -->
<link rel="canonical" href="https://www.thesafastar.com/">

<!-- Robots -->
<meta name="robots" content="index,follow">

{% endblock head %}


{% block body %}
{% include "base/navbar/navbar2.html" %}	
    
    

 {% for brands in brands %}  
    <!-- Page Banner Area Start -->
    <div class="page__banner">
		<div class="page__banner-image" data-background="{% static "assets/img/banner/brands-banner.png" %}"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="page__banner-content">
						<h1>{{brands.brand}} Products</h1>
						<ul>
							<li><a href="{% url "home" %}">Home</a><span>|</span></li>
							<li style="color: white;">Brands</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>    
	<!-- Page Banner Area End -->
	<!-- Services Details Start -->
    <div class="services__details section-padding">
        <div class="container">
            <div class="row">
				<div class="col-xl-8 col-lg-8 lg-mb-50">
					<div class="services__details-left">
						<div class="services__details-left-image mb-30 dark__image">
							<img class="img__full" src="{{brands.img1.url}}" alt="{{brands.slug}}-safastar">
						</div>
						<div class="services__details-left-content">
							<h2>About {{brands.brand}} Products </h2>
                            <p> {{brands.des1|safe}} </p>
                            <span class="services__details-left-content-box">{{brands.quote|safe}}</span>
							<p>{{brands.des2|safe}}</p>
                            <div class="row align-items-center mt-35 mb-35">
                                <div class="col-xl-6 col-lg-12 xl-mb-30 dark__image">
                                    <img class="img__full" src="{{brands.img2.url}}" alt="{{brands.slug}}-safastar">
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <h3 class="mb-10">Customer Benefits</h3>
                                    <p>{{brands.benefits|safe}}</p>     
                                    
                                </div>
                            </div>
						</div>
                        <div class="faq__area" id="accordionExample">
                            {% for brandfaqs in brandfaqs %}
                            <div class="faq__area-item">
                                <h6 class="icon page collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{brandfaqs.id}}">{{brandfaqs.question}}</h6>
                                <div id="collapse{{brandfaqs.id}}" class="faq__area-item-body collapse" data-bs-parent="#accordionExample">
                                    <p>{{brandfaqs.answer}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>   
					</div>
				</div>
                <div class="col-xl-4 col-lg-4">
                    <div class="all__sidebar">
                        <div class="all__sidebar-item">
                            <h4>Get Instant Quotation On {{brands.brand}} Products</h4>
                            <div class="all__sidebar-item-solution">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 mb-10">
                                            <div class="contact__two-right-form-item contact-item">
                                                <span class="fal fa-user"></span>
                                                <input type="text" name="name" placeholder="Full Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-10">
                                            <div class="contact__two-right-form-item contact-item">
                                                <span class="far fa-envelope-open"></span>
                                                <input type="email" name="email" placeholder="Email Address" required="required">											
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-10">
                                            <div class="contact__two-right-form-item contact-item">
                                                <span class="fal fa-phone"></span>
                                                <input type="tel" name="Phone" placeholder="Phone Number with Country code">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 mb-10">
                                            <div class="contact__two-right-form-item contact-item">
                                                <span class="far fa-comments"></span>
                                                <textarea name="message" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="contact__two-right-form-item">
                                                <button class="btn-one" type="submit">Send </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="all__sidebar-item">
                            <h4>Explore Brand Site</h4>
                            <div class="all__sidebar-item-download">
                                <ul>
                                    <li><a href=""><div><i class="flaticon-web"></i>{{brands.brand}}</div><span class="fal fa-arrow-to-bottom"></span></a></li>
                                </ul>                            
                            </div>
                        </div>
                        <div class="all__sidebar-item-help" data-background="{{adss.img.url}}">
							<img class="all__sidebar-item-help-shape" src="{% static "assets/img/shape/support.png" %}" alt="contactu-safastar">
                            <h4>Get connected to our Engineers !</h4>
                            <div class="all__sidebar-item-help-contact">
                                <i class="flaticon-phone-call"></i>
                                <div class="all__sidebar-item-help-contact-content">
                                    <span>Call Us</span>
                                    <h6><a href="tel:+971 56 505 33 40">+971 56 505 33 40</a></h6>
                                </div>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Services Details End -->    

	{% endfor %} 
    {% endblock body %}