    {% load static %}
	
	<!-- Footer Area Start -->
	<div class="footer__three" data-background="{% static "assets/img/shape/footer-bg-3.png" %}">
		<!-- Subscribe Area Start -->
		<div class="subscribe__three">
			<div class="container">
				<div class="row align-items-center subscribe__three-bg" >
					<div class="col-xl-6">
						<div class="subscribe__three-left">
							<h2>Streamlining Procurement, Strengthening Partnership</h2>
						</div>
					</div>
					<div class="col-xl-6">
                        <div class="subscribe__three-right">
                            <a class="btn-one" href="{% url "Contactus" %}">Contact US</a>
                            <div class="subscribe__three-right-contact">
                                <i class="flaticon-phone-call"></i>
                                <div class="subscribe__three-right-contact-info">
                                    <span>Partner With Us</span>
                                    <h6><a href="tel:+971 56 505 33 40">+971 56 505 3340</a></h6>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- Subscribe Area End -->
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-5 col-md-6">
					<div class="footer__three-widget">
						<h4>Safa Star</h4>
                        <div class="footer__three-widget-company">
                            <p>Established in 2000, Safa Star strategically positioned itself in Dubai, recognizing the city's pivotal role in global trade between the Middle East, Asia, and Africa.</p>
                            <form action="#">
                                <input type="text" name="email" placeholder="Email Address" required="">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </form>                        
                        </div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="footer__three-widget">
						<h4>Our Products</h4>
						<div class="footer__area-widget-menu three">
                            <ul>
								{% for product in productitem %}
                                <li><a href="{% url "productviews" product.slug %}">{{product.name}}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="footer__three-widget">
						<h4>Official info</h4>
						<div class="footer__three-widget-info">
							<div class="footer__three-widget-info-item">
                                <h6>Phone :</h6>
                                <a href="tel:+023(676)586565">+971 56 505 3340</a>
							</div>
							<div class="footer__three-widget-info-item">
                                <h6>Email :</h6>
                                <a href="mailto:sales@thesafastar.com">sales@thesafastar.com</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-sm-6">
					<div class="footer__three-widget">
						<h4>Resources</h4>
						<div class="footer__area-widget-menu three">
                            <ul>
								<li><a href="{% url "about" %}">About Us</a></li>
								<li><a href="{% url "allblogs" %}">Blog</a></li>
								<li><a href="{% url "allbrands" %}">All Brands</a></li>
								<li><a href="{% url "Contactus" %}">Contact Us</a></li>
								<div id="google_translate_element2"></div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


		

		<div class="copyright__three">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<p>Created & Designed by <a href="https://www.nexel.in/" target="_blank" style="color: orange; text-decoration: none;"> Nexel </a> Copyright 2023 - All Rights Reserved By <a href="#" style="text-decoration: none; color: orange;">SafaStar</a></p>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<!-- Footer Area End -->  


    <style>
        #google_translate_element select {
  font-size: 10px;
  color: #333;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget-simple {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.goog-te-gadget-simple .goog-te-menu-value {
  color: #333;
}

.goog-te-gadget-simple .goog-te-menu-frame {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.goog-te-gadget-simple .goog-te-menu-frame:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
    </style>

    <div id="google_translate_element"></div>
