{% load static %}

	<!-- Dark Light Start -->
	<div class="switch__tab">
		<div class="switch__tab-icon">
		  <div class="switch__tab-open"><i class="far fa-cog"></i></div>
		  <div class="switch__tab-close"><i class="fal fa-times"></i></div>
		</div>	
		<div class="switch__tab-area">	
			<div class="switch__tab-area-item">
				<h5>Mode</h5>
				<div class="switch__tab-area-item-button type-dark-mode">
					<button class="active" data-mode="light">light</button>
					<button data-mode="dark-mode">dark</button>
				</div>
			</div>
			
		</div>
	</div>
	<!-- Dark Light End -->
	<!-- Top Bar Area Start -->
	<div class="top__bar">
		<div class="custom__container">
			<div class="row">
				<div class="col-lg-8">
					<div class="top__bar-left lg-t-center">
						<ul>
							<li><a href="tel:+971 56 505 33 40"><i class="fas fa-phone-alt"></i>Phone : +971 56 505 33 40</a></li>
							<li><a href="mailto:sales@thesafastar.com"><i class="fas fa-envelope"></i>Email : sales@thesafastar.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="top__bar-right">
						<h6>Follow Us :</h6>
						<div class="top__bar-right-social">
							<ul>
								<li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a></li>
								<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-envelope"></i><span>Mail</span></a></li>
								<li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-whatsapp"></i><span>WhatsApp</span></a></li>
								<li><a href="https://twitter.com" target="_blank"><i class="fab fa-weixin"></i><span>Wechat</span></a></li>
								<li><a href="https://dribbble.com" target="_blank"><i class="fab fa-telegram"></i><span>Telegram</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Bar Area End -->
	<div class="header__area header__sticky">
        <div class="custom__container">
            <div class="header__area-menubar p-relative">
                <div class="header__area-menubar-left">
                    <div class="header__area-menubar-left-logo">
                        <a href="/"><img class="dark-n" src="{% static "assets\img\images\logo-dark.png" %}" alt="Logo-image"><img class="light-n" src="{% static "assets\img\images\logo.png" %}" alt="Logo-image"></a>
                    </div>
                </div>
				<div class="header__area-menubar-center">
                    <div class="header__area-menubar-center-menu menu-responsive">						
						<ul id="mobilemenu">
							<li class="menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="{% url "about" %}">About Us</a></li>
							<li class="menu-item"><a href="{% url "allbrands" %}">Brands</a>
								
							</li>
							<li class="menu-item-has-children"><a>Products</a>
								<ul class="sub-menu">
									{% for productitem in productitem %}
									<li><a href="{% url "productviews" productitem.slug %}">{{productitem.name}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li class="menu-item"><a href="{% url "allblogs" %}">Updates</a>
							</li>
							<li class="menu-item"><a href="{% url "Contactus" %}">Contact Us</a>
							</li>
						</ul>
                    </div>
				</div>
                <div class="header__area-menubar-right">
					<div class="header__area-menubar-right-search">
						
						
					</div>
					<div class="header__area-menubar-right-sidebar">
						<div class="header__area-menubar-right-sidebar-popup-icon"><i class="flaticon-dots-menu"></i></div>
					</div>
					<div class="header__area-menubar-right-btn">						
						<a class="btn-one" href="{% url "Contactus" %}">Get A Quote</a>
					</div>
					<div class="header__area-menubar-right-responsive-menu menu__bar">
						<i class="flaticon-dots-menu"></i>
					</div>
                       <!-- sidebar Menu Start -->
					<div class="header__area-menubar-right-sidebar-popup">
						<div class="sidebar-close-btn"><i class="fal fa-times"></i></div>
						<div class="header__area-menubar-right-sidebar-popup-logo">
							<a href="/"> <img src="{% static "assets\img\images\logo.png" %}" alt="Logo-image"> </a>
						</div>
						<p>Established in 2000, Safa Star strategically positioned itself in UAE, recognizing the city's pivotal role in global trade between the Middle East, Asia, and Africa.</p>
						<div class="header__area-menubar-right-sidebar-popup-contact">
							<h4 class="mb-30">Get In Touch</h4>
							<div class="header__area-menubar-right-sidebar-popup-contact-item">
								<div class="header__area-menubar-right-sidebar-popup-contact-item-icon">
									<i class="fal fa-phone-alt icon-animation"></i>
								</div>
								<div class="header__area-menubar-right-sidebar-popup-contact-item-content">
									<span>Call Now</span>
									<h6><a href="tel:+971565053340">+971565053340</a></h6>
								</div>
							</div>
							<div class="header__area-menubar-right-sidebar-popup-contact-item">
								<div class="header__area-menubar-right-sidebar-popup-contact-item-icon">
									<i class="fal fa-envelope"></i>
								</div>
								<div class="header__area-menubar-right-sidebar-popup-contact-item-content">
									<span>Email</span>
									<h6><a href="mailto:info.help@gmail.com">sales@thesafastar.com</a></h6>
								</div>
							</div>
							<div class="header__area-menubar-right-sidebar-popup-contact-item">
								<div class="header__area-menubar-right-sidebar-popup-contact-item-icon">
									<i class="fal fa-map-marker-alt"></i>
								</div>
								<div class="header__area-menubar-right-sidebar-popup-contact-item-content">
									<span>Office Address</span>
									<h6><a href="#" target="_blank">Mai Tower - Office No 1 - 1508 Baghdad Street - Al Qusais - Al Nahda 1 - Dubai - United Arab Emirates</a></h6>
								</div>
							</div>
						</div>
						<div class="header__area-menubar-right-sidebar-popup-social">
							<ul>
								<li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a></li>
								<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-envelope"></i><span>Mail</span></a></li>
								<li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-whatsapp"></i><span>WhatsApp</span></a></li>
								<li><a href="https://twitter.com" target="_blank"><i class="fab fa-weixin"></i><span>Wechat</span></a></li>
								<li><a href="https://dribbble.com" target="_blank"><i class="fab fa-telegram"></i><span>Telegram</span></a></li>
							</ul>							
						</div>
					</div>
					<div class="sidebar-overlay"></div>
					<!-- sidebar Menu Start -->										
                </div>
            </div>
			<div class="menu__bar-popup">
				<div class="menu__bar-popup-close"><i class="fal fa-times"></i></div>
				<div class="menu__bar-popup-left">
					<div class="menu__bar-popup-left-logo">
						<a href="/"><img src="{% static "assets\img\images\logo.png" %}" alt="logo-image"></a>
						<div class="responsive-menu"></div>
					</div>
					<div class="menu__bar-popup-left-social">
						<h6>Follow Us</h6>
						<ul>
							<li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a></li>
							<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-envelope"></i><span>Mail</span></a></li>
							<li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-whatsapp"></i><span>WhatsApp</span></a></li>
							<li><a href="https://twitter.com" target="_blank"><i class="fab fa-weixin"></i><span>Wechat</span></a></li>
							<li><a href="https://dribbble.com" target="_blank"><i class="fab fa-telegram"></i><span>Telegram</span></a></li>
						</ul>						
					</div>
				</div>
				<div class="menu__bar-popup-right">
					<div class="menu__bar-popup-right-search">
						<form>
							<input type="search" placeholder="Search Here....." required>
							<button type="submit"><i class="fal fa-search"></i>
							</button>
						</form>
					</div>
					<div class="menu__bar-popup-right-contact">
						<h4>Get In Touch</h4>
						<div class="menu__bar-popup-right-contact-item">
							<div class="menu__bar-popup-right-contact-item-info">
								<span>Call Now</span>
								<h6><a href="tel:+971565053340">+971 56 505 33 40</a></h6>
							</div>
						</div>
						<div class="menu__bar-popup-right-contact-item">
							<div class="menu__bar-popup-right-contact-item-info">
								<span>Email</span>
								<h6><a href="mailto:sales@thesafastar.com">sales@thesafastar.com</a></h6>
							</div>
						</div>
						<div class="menu__bar-popup-right-contact-item">
							<div class="menu__bar-popup-right-contact-item-info">
								<span>Office Address</span>
								<h6><a href="#" target="_blank">Mai Tower - Office No 1 - 1508 Baghdad Street - Al Qusais - Al Nahda 1 - Dubai - United Arab Emirates</a></h6>
							</div>
						</div>
					</div>
				</div>			
			</div>
        </div>
    </div>    
	<!-- Header Area End -->

